.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: auto;
    z-index: 9;
    background-color: #1C1C21;
    transition: opacity 0.4s, visibility 0.4s;
    border-radius: 10%;

}

.close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}